# Virtual Environment
.venv/
env/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs and Replays
*.log
replays/
logs/
scratch/

# Kaggle
kaggle.json
*.tmp
